body{
    margin: 0;
	/* overflow: hidden; */
	display: flex;
    /* flex-direction: column; */
	height: 100vh;
	background-color: grey;
}
#map {
    height:100vh;
    width:50vw;
}
#trackInfo{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items:flex-start;

}
.chart{
    display: flex;
    flex-direction: column;
    
}
#myChart {
    
    margin-top: 20px;
    align-items: center;
}

#threejs-container {
	position: relative;
    margin-top: 5px;
	width:50vw;
	height: 80vh;
   
  }

  .lil-gui {
    position: absolute;
    top:10px;
    right: 10px;
    z-index: 10;
	width: 150px !important;
	background:grey;
}
  
